<div class="flex justify-content-center flex-wrap">
  <div class="absolute shadow-4 mt-4">
    <p-table
      [value]="customers"
      *ngIf="customers$ | async as customers"
      dataKey="id"
      editMode="row"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Endereço</th>
          <th>Telefone</th>
          <th>CPF</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-customer
        let-editing="editing"
        let-ri="rowIndex"
      >
        <tr [pEditableRow]="customer">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="customer.name" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ customer.name }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="customer.address" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ customer.address }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="customer.phone" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ customer.phone }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="customer.cpf" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ customer.cpf }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align: center">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(customer)"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(customer)"
              class="p-button-rounded p-button-text p-button-success p-mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(customer, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
