<div class="flex justify-content-center flex-wrap">
  <div class="absolute shadow-4 mt-4">
    <p-table
      [value]="orders"
      *ngIf="orders$ | async as orders"
      dataKey="id"
      editMode="row"
      responsiveLayout="scroll"
      styleClass="p-datatable-striped"
    >
    <ng-template pTemplate="caption"> Pedidos </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Cliente</th>
          <th>Produtos</th>
          <th>Custo</th>
          <th>Preço</th>
          <th>Pago</th>
          <th>Débito</th>
          <th>Lucro</th>
          <th>Data do Pedido</th>
          <th>Data da Entrega</th>
          <th>Status</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-order
        let-editing="editing"
        let-ri="rowIndex"
      >
        <tr [pEditableRow]="order">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="order.customerId" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ order.customerId }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="order.products" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ order.products }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="order.cost" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ order.cost }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="order.price" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ order.price }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="order.paid" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ order.paid }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="order.debt" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ order.debt }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="order.profit" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ order.profit }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="order.createdDate" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ order.createdDate }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="order.deliveryDate" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ order.deliveryDate }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="order.status" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ order.status }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align: center">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(order)"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(order)"
              class="p-button-rounded p-button-text p-button-success p-mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(order, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
