<div class="flex justify-content-center flex-wrap">
  <div class="absolute shadow-4 mt-4">
    <p-table
      [value]="products"
      *ngIf="products$ | async as products"
      dataKey="id"
      editMode="row"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Categoria</th>
          <th>Tipo</th>
          <th>Folhas</th>
          <th>Largura</th>
          <th>Altura</th>
          <th>Peso</th>
          <th>Medida</th>
          <th>Cor</th>
          <th>Custo</th>
          <th>Preço</th>
          <th>Lucro</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-product
        let-editing="editing"
        let-ri="rowIndex"
      >
        <tr [pEditableRow]="product">
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="product.category" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.category }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="product.type" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.type }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="product.sheets" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.sheets }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="product.width" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.width }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="product.height" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.height }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="product.weight" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.weight }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="product.measure" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.measure }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="product.color" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.color }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="product.cost" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.cost }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="product.price" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.price }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="product.profit" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ product.profit }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td style="text-align: center">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit()"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave()"
              class="p-button-rounded p-button-text p-button-success p-mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel()"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
