<div class="flex justify-content-center">
  <div class="shadow-4 mt-4">
    <div class="">
      <form
        autocomplete="disabled"
        class="ml-8 mr-8"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <div class="inline-block">
          <p
            class="text-1xl px-2 py-2 mb-4 shadow-2 flex align-items-center justify-content-center"
          >
            Novo Pedido
          </p>

          <div class="p-float-label my-4">
            <p-dropdown
              [options]="customers"
              *ngIf="customers$ | async as customers"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              placeholder="Selecione um Cliente"
              [(ngModel)]="selectedCustomer"
            >
              <ng-template pTemplate="selectedItem">
                <div
                  class="customer-item customer-item-value"
                  *ngIf="selectedCustomer"
                >
                  <div>{{ selectedCustomer.name }}</div>
                </div>
              </ng-template>
              <ng-template let-customer pTemplate="item">
                <div class="customer-item">
                  <div>{{ customer.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>

          <div class="p-float-label my-4">
            <label for="float input">Produtos</label>
            <p-multiSelect
              *ngIf="products$ | async as products"
              [options]="products"
              [(ngModel)]="selectedCustomer"
              optionLabel="category"
            ></p-multiSelect>
          </div>

          <div class="p-float-label my-4">
            <p-dropdown
              formControlName="status"
              [options]="orderStatus"
              optionLabel="name"
              [showClear]="true"
              placeholder="Status"
            ></p-dropdown>
          </div>
        </div>
        <div class="inline-block ml-8 mt-3">
          <div class="p-float-label my-4"></div>
          <div class="p-float-label my-4">
            <p-inputNumber
              formControlName="cost"
              inputId="currency-ptbr"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
              autocomplete="off"
            >
            </p-inputNumber>
            <label for="float input">Custo</label>
          </div>
          <div class="p-float-label my-4">
            <p-inputNumber
              formControlName="price"
              inputId="currency-ptbr"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
              autocomplete="off"
            >
            </p-inputNumber>
            <label for="float input">Preço</label>
          </div>
          <div class="p-float-label my-4">
            <p-inputNumber
              formControlName="paid"
              inputId="currency-ptbr"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
              autocomplete="off"
            >
            </p-inputNumber>
            <label for="float input">Pago</label>
          </div>
          <div class="p-float-label my-4">
            <p-inputNumber
              formControlName="debt"
              inputId="currency-ptbr"
              mode="currency"
              currency="BRL"
              locale="pt-BR"
              autocomplete="off"
            >
            </p-inputNumber>
            <label for="float input">Débito</label>
          </div>
        </div>
        <div class="flex flex-row justify-content-center">
          <button class="my-3 w-min mx-2" pButton type="submit">Enviar</button>
          <button class="my-3 w-min mx-2" pButton>Limpar</button>
        </div>
      </form>
    </div>
  </div>
</div>
