<div style="
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
">
  <div style="display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30vh;">
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-user"></i>
        <input
          type="text"
          id="inputtext-left"
          pInputText
          [(ngModel)]="customer.name"
        />
        <label for="inputtext-left">Nome</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4" style="margin-top: 20px">
      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-id-card"></i>
        <input
          type="text"
          id="inputtext-left"
          pInputText
          [(ngModel)]="customer.cpf"
        />
        <label for="inputtext-left">CPF</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4" style="margin-top: 20px">
      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-map-marker"></i>
        <input
          type="text"
          id="inputtext-left"
          pInputText
          [(ngModel)]="customer.address"
        />
        <label for="inputtext-left">CEP</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4" style="margin-top: 20px">
      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-map-marker"></i>
        <input
          type="text"
          id="inputtext-left"
          pInputText
          [(ngModel)]="customer.address"
        />
        <label for="inputtext-left">Logradouro</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4" style="margin-top: 20px">
      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-map-marker"></i>
        <input
          type="text"
          id="inputtext-left"
          pInputText
          [(ngModel)]="customer.address"
        />
        <label for="inputtext-left">Complemento</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4" style="margin-top: 20px">
      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-map-marker"></i>
        <input
          type="text"
          id="inputtext-left"
          pInputText
          [(ngModel)]="customer.address"
        />
        <label for="inputtext-left">Bairro</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4" style="margin-top: 20px">
      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-mobile"></i>
        <input
          type="text"
          id="inputtext-left"
          pInputText
          [(ngModel)]="customer.phone"
        />
        <label for="inputtext-left">Celular</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-4" style="margin-top: 20px">
      <span class="p-float-label p-input-icon-left">
        <i class="pi pi-phone"></i>
        <input
          type="text"
          id="inputtext-left"
          pInputText
          [(ngModel)]="customer.phone"
        />
        <label for="inputtext-left">Telefone</label>
      </span>
    </div>
  </div>
</div>
