<div class="flex justify-content-center flex-wrap">
  <div
    class="
      absolute
      shadow-4
      pl-auto
      mt-6
      mb-auto
      w-max
      flex
      justify-content-center
    "
  >
    <form
      autocomplete="disabled"
      class="flex flex-column w-min mx-4"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
    >
      <div class="text-2xl ml-2 pb-4 my-3">Cadastro de Cliente</div>
      <span class="p-float-label my-3">
        <input
          type="text"
          pInputText
          autocomplete="disabled"
          formControlName="name"
        />
        <label for="float-input">Nome</label>
      </span>
      <span class="p-float-label my-3">
        <p-inputMask
          autocomplete="disabled"
          mask="999.999.999-99"
          class="my-3"
          formControlName="cpf"
        ></p-inputMask>
        <label for="float-input">CPF</label>
      </span>
      <span class="p-float-label my-3">
        <p-inputMask
          autocomplete="disabled"
          mask="(99)99999-9999"
          formControlName="phones"
        ></p-inputMask>
        <label for="float-input">Celular</label>
      </span>
      <div class="p-float-label my-3">
        <p-inputMask
          autocomplete="disabled"
          mask="(99)99999-9999"
          formControlName="phones"
        ></p-inputMask>
        <label for="float input">Telefone</label>
      </div>
      <div class="p-float-label my-3">
        <p-inputMask
          autocomplete="disabled"
          mask="99999-999"
          formControlName="cep"
          (focusout)="findAddress()"
        ></p-inputMask>
        <label for="float input">CEP</label>
      </div>
      <div class="p-float-label my-3">
        <input
          type="text"
          pInputText
          autocomplete="disabled"
          formControlName="street"
        />
        <label for="float input">Localidade</label>
      </div>
      <div class="p-float-label my-3">
        <input
          type="text"
          pInputText
          autocomplete="disabled"
          formControlName="complement"
          />
        <label for="float input">Complemento</label>
      </div>
      <div class="flex flex-row">
        <button class="my-3 w-min mx-2" pButton type="submit">Enviar</button>
        <button class="my-3 w-min mx-2" pButton (click)="resetForm()">Limpar</button>
      </div>
    </form>
  </div>
</div>
