<div class="shadow-4" style="margin-top: 20px">
  <div class="formgrid grid">
    <div class="field col-12 md:col-6">
      <input
        id="firstname6"
        type="text"
        id="float-input"
        type="text"
        pInputText
        placeholder="Nome"
      />
    </div>
    <div class="field col-12 md:col-6">
      <input
        id="lastname6"
        type="text"
        id="float-input"
        type="text"
        pInputText
        placeholder="CPF"
      />
    </div>
  </div>
</div>
